.user{
  display: flex;
  width: 100vw;
  padding-left:20px;
  padding-right:40px;
  margin-top: 40px;
  height: auto;
}
 .buttons{
  width: 28vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.user-info {
  display: inline-block;
  text-align: center;
  word-break: break-all;
  padding: 2px;
  flex: 0 0 14vw;
}
#header{
  display: flex;
  width: 100vw;
  height: 60px;
  margin-top: 60px;
  align-items: center;
  padding-left: 20px;
  padding-right:40px;
  color:white;
}
#add-user-btn{
  position: absolute;
  top:12px;
  right: 1vw;
}
#form{
  display:flex;
  position: absolute;
  top:250px;
  justify-content: center;
  width: 80vw;
  margin:0 10vw;
  left:0;
}
#form input,
#form button,
#form select{
  margin-top: 20px;
}
.buttons .btn{
  width:80px
}
.form-container{
  width: 90%;
}
ul{
  display:flex;
  padding: 0;
  margin: 0;
  width: 100%;
}
ul li{
  display: inline;
}
#form-fill-error{
  color:rgb(177, 14, 14);
  position: absolute;
  bottom:50px;
  display: none;
}
/*add css for screens<452px*/